body {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

header#high-scores{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 40px;
}



button {
    background-color: #a4e0dd;
    padding: 15px;
    border-radius: 50px;
    border: solid 2px #63a4a0;
    margin: 20px;
}

button:hover{
    cursor: pointer;
    background-color: #8acdc8;
}

button:focus {
    outline:0;
}

button:active {
    background-color: #21b0a9;
}



.hidden {
    display: none;
}

.visible {
    display: block;
}

.correct {
    color: white;
    background-color: rgb(19, 133, 19);
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 5px;
}

.incorrect {
    color: white;
    background-color: rgb(184, 65, 65);
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 5px;
    
}

li {
    font-size: 1.8rem;
    padding: 18px;
}

li:nth-child(odd) {
    background-color: #E8A87C;
}
li:nth-child(even) {
    background-color: #C38D9E;
}

#home-screen, #quiz {
    margin-top: 80px;
}

.score {
    font-size: 3rem;
    padding-top: 20px;
}

.submit-score {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

input {
    height: 3rem;
    font-size: 2rem;
    width: 200px;
    margin-top: 20px;
}

.feedback {
    display: flex;
    justify-content: center;
    width: 200px;
}

button#retake-quiz {
    background-color: #86ccca;
}

#quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
